@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,100..900;1,100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
    --primary-color: #ff0000;
    --secondary-color: #00ff00;
    --background-color: #000000;
    --text-color-primary: #ffffff;
    --text-color-secondary: #b3b3b3;
    --font-family-primary: "Poppins", sans-serif;
    --font-family-secondary: "Jost", sans-serif;
    --max-width: 1500px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 62,5%;
}
body {
    color: var(--text-color-primary);
    background-color: var(--background-color);
}

header {
    width: 100%;
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
header .logo h1 {
    font-size: 1.3rem;
    font-family: var(--font-family-primary);
    text-transform: uppercase;
}
header nav ul {
    list-style: none;
    display: flex;
    gap: 1rem;
    display: none;
}
header nav ul li a {
    text-decoration: none;
    color: var(--text-color-primary);
    font-family: var(--font-family-secondary);
}

.hamburger {

  width: 26px;
  height: 18px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  cursor: pointer;

}
.hamburger span {
  display: block;
  height: 2px;
  width: 100%;
  background: white;
  transition: all 0.3s ease;
}
.hamburger.active span:nth-child(1) {
  transform: rotate(45deg) translate(7.5px, 7.5px);
}
.hamburger.active span:nth-child(2) {
  opacity: 0;
}
.hamburger.active span:nth-child(3) {
  transform: rotate(-45deg) translate(5px, -5px);
}



.hero-section {
    width: 100%;
    height: calc(100dvh - 4rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 1rem;
}
.hero-section .main {
    width: 100%;
    text-align: center;
}
.hero-section .main h1 {
    font-size: 3rem;
    font-family: "Poppins", sans-serif;
    line-height: 3.5rem;
}
.hero-section .main p {
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
    font-family: var(--font-family-secondary);
    color: var(--text-color-secondary);
}
.hero-section .main .download-cv {
    margin-top: 2rem;
    padding: 0.4rem 1rem;
    border: 1px solid var(--text-color-primary);
    text-decoration: none;
    font-family: var(--font-family-secondary);
    font-size: 1rem;
    font-weight: 500;
    color: var(--text-color-primary);
    background: transparent;
    cursor: pointer;
}
.hero-section .footer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    padding: 0;
}
.hero-section .footer i {
    font-size: 2rem;
}


.carrosel-section {
    background-color: #fff;
    width: 100%;
    height: 4rem;
    overflow: hidden;
    margin-top: 2rem;
}
.carrosel-section .carrosel-content {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1.5rem;
    gap: 6rem;
    animation: slide 2s linear infinite;
}
.carrosel-section .carrosel-content p {
    font-family: var(--font-family-primary);
    font-size: 1rem;
    font-weight: 600;
    color: #000;
}
.carrosel-section .carrosel-content span {
    white-space: nowrap;
}
@keyframes slide {
    from {
        transform: translateX(0);
    }

    to {
        transform: translateX(-50%);
    }
}


.about-section {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin-top: 2rem;
}
.about-section .about-content {
    width: 100%;
    max-width: var(--max-width);
    height: 100%;
}
.about-section .about-img {
    width: 100%;
    height: auto;
    max-height: 70vh;
    object-fit: cover;
    overflow: hidden;
}
.about-section .about-img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.about-section .about-description h1 {
    font-family: var(--font-family-primary);
    font-size: 2rem;
    margin-bottom: 0.5rem;
    margin-top: 1rem;
}
.about-section .about-description .description-text1 {
    margin-top: 1rem;
    font-family: var(--font-family-secondary);
}
.about-section .about-description .description-infos {
    border-radius: 8px;
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}
.about-section .about-description .description-infos p {
    font-family: var(--font-family-secondary);
    color: var(--text-color-secondary);
}
.about-section .about-description .description-infos p span {
    color: var(--text-color-primary);
}
.about-section .about-description .download-cv {
    margin-top: 2.5rem;
    padding: 0.5rem 1.5rem;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-family-secondary);
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    background: var(--text-color-primary);
    cursor: pointer;
}


.services-section {
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
}
.services-section h1 {
    font-family: var(--font-family-primary);
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}
.services-section .services-cards {
    max-width: var(--max-width);
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
    justify-content: space-between;
    gap: 2rem;
}
.services-section .services-cards .card {
    background-color: #333333;
    height: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 1rem;
}
.services-section .services-cards .card h2 {
    font-family: var(--font-family-primary);
    font-size: 1.5rem;
}
.services-section .services-cards .card p {
    font-family: var(--font-family-secondary);
    color: var(--text-color-secondary);
}
.services-section .services-cards .card a {
    font-family: var(--font-family-secondary);
    color: #3e51fa;
    font-size: 1rem;
}
.services-section .services-infos {
    max-width: var(--max-width);
    margin-top: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.services-section .services-infos .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}
.services-section .services-infos .box h2 {
    font-family: var(--font-family-secondary);
    font-size: 2rem;
}
.services-section .services-infos .box p {
    font-family: var(--font-family-secondary);
}

.projects-section {
    width: 100%;
    margin-top: 2rem;
    padding: 1rem;
}
.projects-section h1 {
    font-family: var(--font-family-primary);
    font-size: 2rem;
    margin-bottom: 3rem;
    text-align: center;
}
.projects-section .projects-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 2rem;
    flex-direction: row;
    max-width: var(--max-width);
}
.projects-section .project1, .project2, .project3, .project4 {
    height: 30rem;
}
.projects-section .project-img {
    height: 80%;
    background-color: #ccc;
}
.projects-section .project-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.projects-section .project-info {
    padding-top: 1rem;
}
.projects-section .project-info p {
    font-family: var(--font-family-secondary);
}
.projects-section .project-info a {
    font-family: var(--font-family-secondary);
    text-decoration: underline;
}
.projects-section .button {
    display: flex;
    align-items: center;
    justify-content: center;
}
.projects-section .button a {
    background-color: #000;
    color: #fff;
    font-family: var(--font-family-secondary);
    font-weight: 500;
    text-transform: uppercase;
    padding: 1rem 2rem;
}

.contact-section {
    margin-top: 2rem;
    padding: 1rem;
}
.contact-section h1 {
    font-family: var(--font-family-primary);
    font-size: 2rem;
    margin-bottom: 2rem;
    text-align: center;
}
.contact-section .contact-content {
    max-width: var(--max-width);
    margin: 0 auto;
    
}
.contact-section .contact-content .contact-infos {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.contact-section .contact-content .contact-infos .box {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem;
    gap: 1rem;
}
.contact-section .contact-content .contact-infos .box .icon1 {
    border: 2px solid var(--text-color-secondary);
    padding: 1.2rem;
    border-radius: 0 15px;
}
.contact-section .contact-content .contact-infos .box .icon2 {
    border: 2px solid var(--text-color-secondary);
    padding: 1.2rem;
    border-radius: 15px;
}
.contact-section .contact-content .contact-infos .box .icon3 {
    border: 2px solid var(--text-color-secondary);
    padding: 1.2rem;
    border-radius: 15px 0;
}
.contact-section .contact-content .contact-infos .box i {
    font-size: 1rem;
}
.contact-section .contact-content .contact-infos .box p {
    font-family: var(--font-family-secondary);
    font-size: 1rem;
}
.contact-section .contact-content .contact-form {
    margin-top: 2rem;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 2rem;
}
.contact-section .contact-content .contact-form .text {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.contact-section .contact-content .contact-form .text h2 {
    font-family: var(--font-family-secondary);
    font-size: 2rem;
}
.contact-section .contact-content .contact-form .text p {
    font-family: var(--font-family-secondary);
    font-size: 1rem;
    margin-top: 1rem;
    text-align: center;
}
.contact-section .contact-content .contact-form .form {
    flex: 1;
    padding: 0 1rem;
}
.contact-section .contact-content .contact-form .form input {
    width: 100%;
    margin-bottom: 1rem;
    background: none;
    border: 1px solid var(--text-color-secondary);
    padding: .8rem 1rem; 
}
.contact-section .contact-content .contact-form .form input::placeholder {
    font-family: var(--font-family-secondary);
    font-size: 1rem;
}
.contact-section .contact-content .contact-form .form button {
    padding: 0.5rem 1.5rem;
    border: none;
    text-decoration: none;
    text-transform: uppercase;
    font-family: var(--font-family-secondary);
    font-size: 1rem;
    font-weight: 500;
    color: #000;
    background: var(--text-color-primary);
    cursor: pointer;
}
.contact-section .contact-content .contact-maps {
    margin-top: 6rem;
}
.contact-section .contact-content .contact-maps iframe {
    width: 100%;
    height: 25rem;
    margin: 0 auto;
    border-radius: 10px;
}

footer {
    margin-top: 4rem;
    padding: 1rem
}
footer .footer-content {
    border-top: 1px solid var(--text-color-secondary) ;
    max-width: var(--max-width);
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 1.5rem;
    padding-top: 1rem;
}
footer .footer-content .box {
    flex: 1;
}
footer .footer-content .box h1 {
    font-family: var(--font-family-primary);
    text-transform: uppercase;
}
footer .footer-content .box a {
    font-family: var(--font-family-secondary);
    font-size: 1.2rem;
    text-decoration: none;
    color: var(--text-color-primary);
}
footer .footer-content .box i {
    font-size: 1.5rem;
}
footer .footer-content .links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
footer .footer-content .icons {
    display: flex;
    align-items: center;
    justify-content: end;
    gap: 1rem;
}


.copyright {
    margin-top: 1rem;
    padding: 1rem 0;
    font-family: var(--font-family-secondary);
    text-align: center;
    font-size: .8rem;
}

